{% extends 'wordCounter/base.html' %}

{% block content %}

<div class="jumbotron-fluid bg-orange p-2">
	<h2 class="text-center text-light display-3">Word Counter</h2>
</div>

<div class="container-fluid mt-4 mb-2">
	<div class="row">
		<div class="col-md-7">
			<form method="post" action='.'>
				{% csrf_token %}
				<textarea placeholder="Write Something here...." class="w-100 p-3 textbox" spellcheck="false"></textarea>
			</form>
		</div>
		<div class="col-md-5">
			<div class="container-fluid rounded pt-2 pl-4 pb-2 bg-light stats-box">
				<div class="row">
					<div class="col-6">
						<div class="d-flex flex-column">
							<h5 class="font-weight-bold text-darkinfo">WORDS</h3>
							<h1 class="text-darkinfo" id="numOfWords">0</h1>
						</div>
					</div>
					<div class="col-6">
						<div class="d-flex flex-column">
							<h5 class="font-weight-bold text-darkinfo">CHARACTERS</h3>
							<h1 class="text-darkinfo" id="numOfCharacters">0</h1>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-6">
						<div class="d-flex flex-column">
							<h5 class="font-weight-bold text-darkinfo">SENTENCES</h3>
							<h1 class="text-darkinfo" id="numOfSentences">0</h1>
						</div>
					</div>
					<div class="col-6">
						<div class="d-flex flex-column">
							<h5 class="font-weight-bold text-darkinfo">LINES </h3>
							<h1 class="text-darkinfo" id="numOfLines">0</h1>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-6">
						<div class="d-flex flex-column">
							<h5 class="font-weight-bold text-darkinfo">PARAGRAPHS</h3>
							<h1 class="text-darkinfo" id="numOfParagraphs">0</h1>
						</div>
					</div>
					<div class="col-6">
						<div class="d-flex flex-column">
							<h5 class="font-weight-bold text-darkinfo">READING TIME</h3>
							<h1 class="text-darkinfo" id="readingTime">0</h1>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-6">
						<div class="d-flex flex-column">
							<h5 class="font-weight-bold text-darkinfo">Most Frequent Words used : </h3>
						</div>
					</div>
					<div class="col-6">
						<div class="d-flex flex-column">
							<h6 class="font-weight-bold text-darkinfo" id="freq_word">---</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}